@page "/"
@inject StorageManager StorageManager
@inject IndexedDb IndexedDb

<h1>Storage Manager</h1>

<section>
  <h4>Estimate</h4>
  @if (_estimate != null)
  {
    <pre><code>@_estimate</code></pre>
    <p>
      You're currently using about @_estimate.PercentUsed% of your
      estimated storage quota (@_estimate.QuotaInMB).
    </p>
  }
</section>

<section>
  <h4>GetDirectory</h4>
  @if (_directory != null)
  {
    <pre><code>@_directory</code></pre>
  }
</section>


@code {

  private EstimateResult? _estimate = null;
  private object? _directory = null;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      _estimate = await StorageManager.Estimate();
      _directory = await StorageManager.GetDirectory();
      var open = await IndexedDb.Open("MyDatabase", 1);

      StateHasChanged();
    }
  }

}